@font-face {
    font-family: 'MINE-SWEEPER';
    src: url('../assets/fonts/mine-sweeper.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital Readout';
    src: url('../assets/fonts/SFDigitalReadout-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}