html {
    background-color: rgb(50, 80, 200);
    /* RGBA encoding: Red (0-255), Green (0-255), Blue (0-255), alpha (0.0-1.0)
    Red, Green and Blue might also range in [0.0,1.0]. */
    color: white;
    font-size: 16pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

body {
    margin: 0; /* By default, the <body> tag has a small annoying margin */
    height: 100%;
}

main {
    padding: 20px; /* This adds padding to all sides */
}

h1 {
    font-style: italic;
}

p {
    /* Typically, we prefer em or ex as a metric unit when it comes to fonts / letters */
    margin: 0 1em 3em 2em;
}

h1 + p {
    /* The next sibling combinator chooses all `p` tags right after `h1` tags */
    margin-left: 0;
}

p + p {
    /* Selects every paragraph except for the first one */
    color: rgb(225, 137, 59);
}

/* Navbar */

nav {
    background-color: rgb(20, 100, 50);
    padding: 10px 20px 10px 20px;
    /* Padding is used to "push" elements inwards, creating space between the 
    contents and the border of a container */
    /* Padding is used to "push" neighbouring elements away, creating space between the 
    neighbours and the border of a container */
}

/* The `tag1 tag2` combinator selects all tag2 tags that are descendants of a tag1 tag.
In this case, all <a> tags within a <nav> tag */
nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    /* A flexbox is a container type that tries to "cleverly" manage any space given.
    Excellent tutorial: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px; /* flexbox property that determines the gap between elements */
}

/* Minesweeper grid */

.ms-main-container {
    height: 100%;
    display: flex;
    justify-content: center; /* Justifies content along the main axis, by default horizontally */
    align-items: center; /* Justifies content along the secondary axis, by default vertically */
}

.ms-grid-container {
    border: 5px solid red;
    width: 200px;
    height: 200px;
}