@font-face {
    font-family: 'MINE-SWEEPER';
    src: url('../assets/fonts/mine-sweeper.otf.woff2') format('woff2');
        /* url('path/to/font.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}