html {
    background-color: rgb(50, 80, 200);
    /* RGBA encoding: Red (0-255), Green (0-255), Blue (0-255), alpha (0.0-1.0)
    Red, Green and Blue might also range in [0.0,1.0]. */
    color: white;
    font-size: 16pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

body {
    display: flex; /* To avoid the redundant vertical overflow */
    flex-direction: column;
    margin: 0; /* By default, the <body> tag has a small annoying margin */
    height: 100%;
}

main {
    padding: 20px; /* This adds padding to all sides */
}

h1 {
    font-style: italic;
}

p {
    /* Typically, we prefer em or ex as a metric unit when it comes to fonts / letters */
    margin: 0 1em 3em 2em;
    line-height: 19pt;
}

h1 + p {
    /* The next sibling combinator chooses all `p` tags right after `h1` tags */
    margin-left: 0;
}

p + p {
    /* Selects every paragraph except for the first one */
    color: rgb(225, 137, 59);
}

/* Navbar */

nav {
    background-color: rgb(20, 100, 50);
    padding: 10px 20px 10px 20px;
    /* Padding is used to "push" elements inwards, creating space between the 
    contents and the border of a container */
    /* Padding is used to "push" neighbouring elements away, creating space between the 
    neighbours and the border of a container */
}

/* The `tag1 tag2` combinator selects all tag2 tags that are descendants of a tag1 tag.
In this case, all <a> tags within a <nav> tag */
nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    /* A flexbox is a container type that tries to "cleverly" manage any space given.
    Excellent tutorial: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px; /* flexbox property that determines the gap between elements */
}

/* Minesweeper grid */

.ms-main-container {
    height: 100%;
    display: flex;
    justify-content: center; /* Justifies content along the main axis, by default horizontally */
    align-items: center; /* Justifies content along the secondary axis, by default vertically */
}

.ms-grid-container {
    /* In grids, we have a relative unit, named [fr]ame,
    which stands for one unit. */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-bottom: 4px solid rgba(250, 250, 250);
    border-right: 4px solid rgba(250, 250, 250);
    border-top: 4px solid rgba(132, 132, 132);
    border-left: 4px solid rgba(132, 132, 132);
    width: 280px; /* 280 = 10 * (20 + 4 + 4) */
    height: 280px;
    /* box-shadow: inset 3px 3px rgba(132, 132, 132); This won't work nicely on edges*/
}

.ms-grid-border {
    border: 4px solid rgba(198, 198, 198);
}

.ms-grid-outer-shadow {
    border-top: 4px solid rgba(250, 250, 250);
    border-left: 4px solid rgba(250, 250, 250);
    border-bottom: 4px solid rgba(132, 132, 132);
    border-right: 4px solid rgba(132, 132, 132);
}

.ms-grid-cell {
    font-family: "MINE-SWEEPER";
    font-size: 12pt;
    background-color: rgba(198, 198, 198);
    color: black;
    width: 20px;
    height: 20px;
    line-height: 20px; /* This works for a **single line of text** only to vertically center it */
    border-top: 4px solid rgba(250, 250, 250);
    border-left: 4px solid rgba(250, 250, 250);
    border-bottom: 4px solid rgba(132, 132, 132);
    border-right: 4px solid rgba(132, 132, 132);
    text-align: center; /* Horizontal text alignment */
    user-select: none;
    cursor: pointer; /* This converts the cursor to a pointer, typically a hand-like icon when hovering over the element */
}

.ms-grid-cell:hover {
    background-color: brown;
}

.visited {
    border: 1px solid rgba(132, 132, 132);
    width: 26px;
    height: 26px;
    line-height: 26px;
}

/* Coloured number CCS classes */

.cell-1 {
    color: rgba(0, 0, 255);
}

.cell-2 {
    color: rgba(0, 130, 0);
}

.cell-3 {
    color: rgba(254, 0, 0);
}

.cell-4 {
    color: rgba(0, 0, 132);
}

.cell-5 {
    color: rgba(132, 0, 0);
}

.cell-6 {
    color: rgba(0, 130, 132);
}

.cell-7 {
    color: rgba(132, 0, 132);
}

.cell-8 {
    color: rgba(117, 117, 117);
}