html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #4585ff;
    height: 100%; /* Ask the browser to occupy the entire available space (default: fit-content) */
}

body {
    display: flex; /* This by default distributes items horizontally (main axis) with any whitespace handled as per our request */
    justify-content: center; /* Center contents with respect to the main axis */
    align-items: center; /* Center contents with respect to the cross axis */
    /* border: 1px solid red; */
    min-height: 100%; /* Make sure that we occupy the entire page height! */
    color: #ffffff; /* Determines the colour of the contents! */
}

.main-content-container {
    display: flex;
}

.minesweeper-grid-container {
    /* Grid resources: https://css-tricks.com/snippets/css/complete-guide-grid/ */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Determines the column pattern (i.e., number and dimensions of columns) */
    border-top: solid 4px #808080;
    border-left: solid 4px #808080;
    border-bottom: solid 4px white;
    border-right: solid 4px white;
}

.minesweeper-border-container {
    border: 6px solid #c6c6c6;
}

.minesweeper-outer-border-container {
    border-bottom: solid 4px #808080;
    border-right: solid 4px #808080;
    border-top: solid 4px white;
    border-left: solid 4px white;
}

.minesweeper-cell {
    width: 50px;
    height: 50px;
    background: #c6c6c6;
    border-bottom: solid 4px #808080;
    border-right: solid 4px #808080;
    border-top: solid 4px white;
    border-left: solid 4px white;
    user-select: none; /* Disables user selection (and does not display a flashing cursor) */
    cursor: pointer; /* Changes cursor to "pointer" (hand, in most browsers) */
}

/* border base use:
```css
border: <linewidth> <linestyle> <colour>
```

For example:

```css
border: 1px solid red;
```

draws a border line of width 1px, with a solid pattern (a common line), and of colour red.

REMARK: The border itself does not count to element size (as with margin).
*/